.post-detail {
  display: flex ;
  justify-content: space-between;
}
.post_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post{
  width: 66% ;

}
.expand_post {
  width:100% ;
  background-color: blue ;
}
.post_playlist{
  width: 33% ;
}
.hided_post_playlist {
  display: none ;
}
@media only screen and (max-width: 900px)  {
  .post{
    width: 100% ;



  }
}
